@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p><b>College Name: </b>Asha M. Tarsadia Institute of Computer Science and Technology</p>
    <p>
        <b>College Moto: </b>सिद्धिर्भवति कर्मजा (Success is achieved through effort)
    </p>
    <p><b>College Director: </b>Dr. Dharmendra Bhatti</p>
    <p><b>Web Address: </b><a href="http://utu.ac.in/AMTICS/index.html">Amtics</a></p>
    <p><b>University Name: </b>Uka Tarsadia University</p>
    <p><b>Address: </b>UKA TARSADIA University, Maliba Campus, Mahuva-Bardoli Rd, Bardoli, Tarsadi, Gujarat 394350</p>
</div>
